
main{
  background-color: gray;
}
h1{
    color:brown;
    font-size: 40px;
  }

  .destacado{
    background-color: green;
    color: blue;
    padding: 5px;
    border: 3px solid red;
  }
  #principal{
    font-size: 20px;
  }